@use "@fjlaubscher/matter/src/styles/breakpoints";

.markdown {
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: revert;
    font-weight: revert;
    margin: revert;
    white-space: pre-line;
  }

  a {
    color: var(--color-accent);
    text-decoration: underline;
  }

  blockquote {
    margin: 0;
    border-left: 2px solid var(--color-light-border);
    padding-left: 1rem;
    font-size: 0.9rem;

    @media(prefers-color-scheme: dark) {
      color: #bbb;
      border-left-color: var(--color-dark-border);
    }
  }

  p, li {
    line-height: 1.6;
  }

  code {
    padding: 2px 8px;
    border-radius: 0.5rem;
    background-color: var(--color-light-surface);

    @media(prefers-color-scheme: dark) {
      background-color: var(--color-dark-surface);
    }
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  img {
    display: block;
    max-height: 800px;
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: breakpoints.$tablet) {
      margin: 0;
    }
  }
}