.post {
  position: relative;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color-dark-text);
    z-index: 2;

    .title {
      font-size: 1rem;
      font-weight: bold;
    }

    .tags {
      margin-top: 1rem;
      gap: 0.5rem;
    }

    .tag {
      text-transform: capitalize;
      text-decoration: none;
    }
  }
}